<template name="contact_list">
    {{#each contacts}}
    {{> contact_item}}
    {{/each}}
</template>

<template name="contact_item">
    <div class="row">
        <div class="col-md-2"><img src="hamster.jpg" class="profilePicture"></div>
        <div class="col-md-9 profileNameWrapper">
				<span class="profileName">{{name}}</span>
		</div>
		<div class="col-md-1 deleteContactButtonWrapper">
			<input type="image" src="delete.png" class="deleteContactButton" 
				onclick="deleteContact({{id}});">
		</div>
    </div>
</template>


<template name="Kontakte">
    <div class="contactHeader">
		<div class="col-xs-3"><h1>Kontakte</h1></div>
		<div class="col-xs-6"></div>
		<div class="col-xs-3 addContactButton">
			<input type="image" src="add_contact.jpg" id="add" data-toggle="modal" data-target="#myModal"><p></p></div>
	</div>
		
	
	<div class="kontakte">
          <!-- <input type="text" id="result" name="user:" readonly="readonly"/> -->
		  {{> contact_list}}
    </div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Kontakt hinzufügen</h4>
		  </div>
		  <div class="modal-body">
			<input type="text" value="Username" id="username">
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button id="addContact" type="button" class="btn btn-primary" onclick="addContact(document.getElementById('username').value);">Kontakt hinzufügen</button>
		  </div>
		</div>
	  </div>
	</div>
	
	
</template>